**
!src/
!src/PlanejadorCompras.API/**
!src/PlanejadorCompras.Application/**
!src/PlanejadorCompras.Domain/**
!src/PlanejadorCompras.Infrastructure/**
**/bin/
**/obj/
**/*.csproj.user
**/appsettings.Development.json
**/appsettings.*.Development.json
**/appsettings.Local.json
**/appsettings.*.Local.json
**/*secrets*.json
**/.env*
src/frontend/node_modules/
src/frontend/dist/
src/frontend/.angular/
